<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SenderDatabaseCommunication" type="System.Configuration.NameValueSectionHandler" />
    <section name="SQLiteDataBaseConfigure" type="System.Configuration.NameValueSectionHandler" />
    <section name="ReceiverDatabaseCommunication" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
   <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v2.0.50727"/></startup>
  <ReceiverDatabaseCommunication>
    <add key = "deliveryPath" value = "C:/SQLiteDataBase/" />
    <add key = "delay" value = "500" />
    <add key ="delSize" value ="10000"/>
  </ReceiverDatabaseCommunication>
  <SenderDatabaseCommunication>
	 <add key="maxsize" value="100000" />
  </SenderDatabaseCommunication> 
  <SQLiteDataBaseConfigure>
    <add key = "FilePath" value = "C:/SQLiteDataBase/MessageDatabase.sqlite" />
  </SQLiteDataBaseConfigure>
</configuration>
